# Eat Safe, Love

## Notebook Set Up

In [15]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [5]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [6]:
# review the collections in our database
print(mongo.list_database_names())
db.list_collection_names

['admin', 'autosauras', 'autosaurus', 'classDB', 'config', 'epa', 'fruits_db', 'local', 'met', 'petsitly_marketing', 'uk_food']

In [7]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [8]:
pprint(db.establishments.find_one())

{'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4591.765489457773,
 'FHRSID': 1043695,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6BL',
 'RatingDate': '2018-04-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6495bdc28da2c91f777c73a3'),
 'geocode': {'latitude': 51.083812, 'longitude': 1.195625},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1043695',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}

In [13]:
# Use count_documents to display the number of documents in the result
query ={'scores.Hygiene':20}
Result_doc=establishments.count_documents(query)
Result_doc

41

In [11]:
# Find the establishments with a hygiene score of 20
query ={'scores.Hygiene':20}
results = db.establishments.find(query)
# Use count_documents to display the number of documents in the result
Result_doc=establishments.count_documents  (query)
Result_doc
# Display the first document in the results using pprint
pprint(results[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6495bdc28da2c91f777c8ed5'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [16]:
# Convert the result to a Pandas DataFrame
aggregated_df = pd.json_normalize(results)



# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(aggregated_df))
# Display the first 10 rows of the DataFrame
aggregated_df.head(10)

Rows in DataFrame:  41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6495bdc28da2c91f777c8ed5,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6495bdc28da2c91f777c9256,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6495bdc28da2c91f777c9560,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6495bdc28da2c91f777c974e,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6495bdc28da2c91f777c975d,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6495bdc28da2c91f777ca0fc,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6495bdc28da2c91f777ca31d,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6495bdc28da2c91f777cb848,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6495bdc28da2c91f777cbc8c,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6495bdc28da2c91f777cc49e,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [19]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

db.establishments.update_many({'RatingValue':{'$nin':['Pass','Awaiting Inspection','AwaitingInspection','Exempt','AwaitingPublication']}},[{'$set':{
                                "RatingValue" : {'$toInt':'$RatingValue'}
    
                              }    
                     }
    
                    ]    
                 )
query = {'LocalAuthorityName': {'$regex': "London"},'RatingValue': {'$gte': 4}}

results1 = list(db.establishments.find(query))

 
# Use count_documents to display the number of documents in the result
print(f'the number of documents found is {len(results1)}')



# Display the first document in the results using pprint
pprint(results1[0:1])

the number of documents found is 33
[{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
  'AddressLine2': 'Sheppy Kent',
  'AddressLine3': '',
  'AddressLine4': '',
  'BusinessName': "Charlie's",
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'ChangesByServerID': 0,
  'Distance': 4627.439467780196,
  'FHRSID': 621707,
  'LocalAuthorityBusinessID': 'PI/000025307',
  'LocalAuthorityCode': '508',
  'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
  'LocalAuthorityName': 'City of London Corporation',
  'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
  'NewRatingPending': False,
  'Phone': '',
  'PostCode': 'ME12',
  'RatingDate': '2021-10-18T00:00:00',
  'RatingKey': 'fhrs_4_en-gb',
  'RatingValue': 4,
  'RightToReply': '',
  'SchemeType': 'FHRS',
  '_id': ObjectId('6495bdc28da2c91f777ca8f0'),
  'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
  'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
             'rel': 'self'}],
  'meta': {'dataSource': None,
           'extractDate': '0001-01-01T00:00:00',
           'itemCount': 0,
           'pageNumber': 0,
           'pageSize': 0,
           'returncode': None,
           'totalCount': 0,
           'totalPages': 0},
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}]

In [20]:
# Convert the result to a Pandas DataFrame
london_df = pd.json_normalize(results1)
london_df.head()

# Display the number of rows in the DataFrame
london_df.count()
# Display the first 10 rows of the DataFrame
london_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6495bdc28da2c91f777ca8f0,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6495bdc28da2c91f777cac16,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6495bdc28da2c91f777cb763,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6495bdc28da2c91f777cc563,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6495bdc28da2c91f777cc564,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,6495bdc28da2c91f777ccc6c,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,6495bdc28da2c91f777ced7a,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,6495bdc28da2c91f777cf141,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,6495bdc28da2c91f777cf15b,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,6495bdc28da2c91f777cf15c,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [23]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude =  0.08384


# Find the rating value of '5' sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"

query = {'RatingValue': 5,'geocode.latitude': {'$gte': latitude*(1-degree_search),'$lte': latitude*(1+degree_search)},'geocode.longitude': {'$gte': longitude*(1-degree_search),'$lte': longitude*(1+degree_search)}}
fields = {'RatingValue': 1, 'BusinessName': 1,'geocode.latitude':1,'geocode.longitude':1}
sort = [('scores.Hygiene', 1)]

# Capture the results to a variable
results2 = list(db.establishments.find(query,fields).sort(sort))

    
# Use count_documents to display the number of documents in the result
print(f'the number of documents found is {len(results2)}')

# Print the results
pprint(results2)

the number of documents found is 84
[{'BusinessName': 'Ancient and Brave',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cb38a'),
  'geocode': {'latitude': 51.011100769043, 'longitude': 0.0835950002074242}},
 {'BusinessName': 'Texaco Service Station',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cd2c2'),
  'geocode': {'latitude': 51.358485, 'longitude': 0.084469}},
 {'BusinessName': 'Eltham Green School Nursery Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce14c'),
  'geocode': {'latitude': 51.4484481811523, 'longitude': 0.0845770016312599}},
 {'BusinessName': "Gill's eells",
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce168'),
  'geocode': {'latitude': 51.4488282, 'longitude': 0.0844461}},
 {'BusinessName': 'Monkey Puzzle Eltham',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce1a5'),
  'geocode': {'latitude': 51.4504502, 'longitude': 0.084261}},
 {'BusinessName': 'Codfellas',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce1ce'),
  'geocode': {'latitude': 51.4503007, 'longitude': 0.0830596}},
 {'BusinessName': 'Olive Dining At Eastcote Primary School',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce3a3'),
  'geocode': {'latitude': 51.464023, 'longitude': 0.084135}},
 {'BusinessName': 'The Old Mill',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce805'),
  'geocode': {'latitude': 51.4817109, 'longitude': 0.0840959}},
 {'BusinessName': 'SD News & Mini Market',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce88c'),
  'geocode': {'latitude': 51.4827461242676, 'longitude': 0.0831020027399063}},
 {'BusinessName': 'East Plumstead Pre School',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce8e8'),
  'geocode': {'latitude': 51.4845542907715, 'longitude': 0.0836590006947517}},
 {'BusinessName': 'My Home (Plumstead)',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce909'),
  'geocode': {'latitude': 51.4860247, 'longitude': 0.0843422}},
 {'BusinessName': 'Jhas Catering Services',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce9ac'),
  'geocode': {'latitude': 51.4900815, 'longitude': 0.0842824}},
 {'BusinessName': 'Wilson & Bay Coffee Club',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce9ae'),
  'geocode': {'latitude': 51.4897501, 'longitude': 0.0839053}},
 {'BusinessName': 'Suya Academy Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce9b9'),
  'geocode': {'latitude': 51.4901495, 'longitude': 0.0839974}},
 {'BusinessName': 'Breakfast Club',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cea6a'),
  'geocode': {'latitude': 51.4950485229492, 'longitude': 0.0835620015859604}},
 {'BusinessName': 'The Real Deal',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ceac4'),
  'geocode': {'latitude': 51.4978398, 'longitude': 0.0844204}},
 {'BusinessName': 'Tasty African Restaurant',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf1dc'),
  'geocode': {'latitude': 51.541366, 'longitude': 0.083845}},
 {'BusinessName': 'Newbury Centre Filling Station',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf7d6'),
  'geocode': {'latitude': 51.5733, 'longitude': 0.08431}},
 {'BusinessName': 'Greengate SF Connect',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf7fa'),
  'geocode': {'latitude': 51.573905, 'longitude': 0.084193}},
 {'BusinessName': 'Suvai',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf8af'),
  'geocode': {'latitude': 51.576945, 'longitude': 0.08361}},
 {'BusinessName': 'K F C',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfca3'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083857}},
 {'BusinessName': 'La Boucherie Kosher',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfca6'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083857}},
 {'BusinessName': 'Babar Saleem',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfca7'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083856}},
 {'BusinessName': 'Epping Forest Foodbank',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0282'),
  'geocode': {'latitude': 51.6479076, 'longitude': 0.0846616}},
 {'BusinessName': 'P A Sparks and Sons',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d028a'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': "Hazel's Kitchen",
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d08c9'),
  'geocode': {'latitude': 51.7659932, 'longitude': 0.083562}},
 {'BusinessName': 'Buzzee Beez Pre-School Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d08cf'),
  'geocode': {'latitude': 51.7671, 'longitude': 0.084225}},
 {'BusinessName': 'Golden Swift Public House',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d08d0'),
  'geocode': {'latitude': 51.7671, 'longitude': 0.084225}},
 {'BusinessName': 'Limoncello',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cdec9'),
  'geocode': {'latitude': 51.430663, 'longitude': 0.083451}},
 {'BusinessName': 'The Plumstead Pantry',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce823'),
  'geocode': {'latitude': 51.4817727, 'longitude': 0.083745}},
 {'BusinessName': 'Brew Station',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777ce990'),
  'geocode': {'latitude': 51.4899426, 'longitude': 0.0846755}},
 {'BusinessName': 'Way 2 Save',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf06c'),
  'geocode': {'latitude': 51.534412, 'longitude': 0.084018}},
 {'BusinessName': 'Sahara Parkside Ltd',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf1c3'),
  'geocode': {'latitude': 51.541715, 'longitude': 0.084452}},
 {'BusinessName': 'Pizza Go Go',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf1dd'),
  'geocode': {'latitude': 51.541366, 'longitude': 0.083845}},
 {'BusinessName': 'Woodlands Infants and Junior School',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf370'),
  'geocode': {'latitude': 51.549147, 'longitude': 0.083754}},
 {'BusinessName': 'Just 4 Kids Pre-School',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf47f'),
  'geocode': {'latitude': 51.55694, 'longitude': 0.083965}},
 {'BusinessName': 'Satt Caterers',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf4dc'),
  'geocode': {'latitude': 51.560689, 'longitude': 0.084468}},
 {'BusinessName': 'Azad Food Centre',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf4ef'),
  'geocode': {'latitude': 51.561497, 'longitude': 0.084549}},
 {'BusinessName': 'Aladdins',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf503'),
  'geocode': {'latitude': 51.560754, 'longitude': 0.083375}},
 {'BusinessName': 'Grilled Peri Peri',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf504'),
  'geocode': {'latitude': 51.560754, 'longitude': 0.083375}},
 {'BusinessName': 'Dessertz',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf5f6'),
  'geocode': {'latitude': 51.5649211, 'longitude': 0.0838927}},
 {'BusinessName': 'Kool Kidze Daycare',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf675'),
  'geocode': {'latitude': 51.566577911377, 'longitude': 0.0835689976811409}},
 {'BusinessName': 'Russell Lodge',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf6fd'),
  'geocode': {'latitude': 51.569547, 'longitude': 0.083994}},
 {'BusinessName': 'Banana Leaf',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf7df'),
  'geocode': {'latitude': 51.572941, 'longitude': 0.083759}},
 {'BusinessName': 'Day 1 (One)',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf7e0'),
  'geocode': {'latitude': 51.572941, 'longitude': 0.083759}},
 {'BusinessName': 'Fags & Mags',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf7f4'),
  'geocode': {'latitude': 51.573056, 'longitude': 0.083375}},
 {'BusinessName': 'McDonald’s',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf7f9'),
  'geocode': {'latitude': 51.573905, 'longitude': 0.084193}},
 {'BusinessName': "Vijay's Virasat Ltd",
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf832'),
  'geocode': {'latitude': 51.574378, 'longitude': 0.083897}},
 {'BusinessName': 'Aldi',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf838'),
  'geocode': {'latitude': 51.5750684, 'longitude': 0.0844927}},
 {'BusinessName': 'Newbury Park Primary School',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf86b'),
  'geocode': {'latitude': 51.575802, 'longitude': 0.084222}},
 {'BusinessName': "A's Nursery & Softplay Centre",
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf87b'),
  'geocode': {'latitude': 51.5755201, 'longitude': 0.083435}},
 {'BusinessName': 'Horns Supermarket',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf8b1'),
  'geocode': {'latitude': 51.576946, 'longitude': 0.08361}},
 {'BusinessName': 'Nisa Local',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cf8df'),
  'geocode': {'latitude': 51.577906, 'longitude': 0.083698}},
 {'BusinessName': "Bella's Coffee",
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfc4a'),
  'geocode': {'latitude': 51.5910720825195, 'longitude': 0.0831310003995895}},
 {'BusinessName': 'Ruta',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfc57'),
  'geocode': {'latitude': 51.591695, 'longitude': 0.083549}},
 {'BusinessName': 'Quidsaver',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfca1'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083857}},
 {'BusinessName': 'Pepperman’s Deli',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfca8'),
  'geocode': {'latitude': 51.592741, 'longitude': 0.083856}},
 {'BusinessName': 'Adas',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfcca'),
  'geocode': {'latitude': 51.593497, 'longitude': 0.084368}},
 {'BusinessName': 'Cakebox',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfccb'),
  'geocode': {'latitude': 51.593497, 'longitude': 0.084368}},
 {'BusinessName': 'The Sharod',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfccc'),
  'geocode': {'latitude': 51.593497, 'longitude': 0.084368}},
 {'BusinessName': 'Fireaway Pizza',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfcdd'),
  'geocode': {'latitude': 51.5935179, 'longitude': 0.0842349}},
 {'BusinessName': 'Super Fags & Mags',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfcea'),
  'geocode': {'latitude': 51.5943374633789, 'longitude': 0.0845799967646599}},
 {'BusinessName': 'Capricho',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfd0d'),
  'geocode': {'latitude': 51.5948333740234, 'longitude': 0.0845009982585907}},
 {'BusinessName': 'The Old Maypole Public House',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfde6'),
  'geocode': {'latitude': 51.601299, 'longitude': 0.084031}},
 {'BusinessName': 'Sellan Food and Wine',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfe05'),
  'geocode': {'latitude': 51.602327, 'longitude': 0.083877}},
 {'BusinessName': 'Co-op',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfe07'),
  'geocode': {'latitude': 51.602327, 'longitude': 0.083877}},
 {'BusinessName': 'Belmont Lodge',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777cfeda'),
  'geocode': {'latitude': 51.607945, 'longitude': 0.083022}},
 {'BusinessName': 'Debden Sports Club',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d021b'),
  'geocode': {'latitude': 51.64233, 'longitude': 0.083181}},
 {'BusinessName': "FABIO's",
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0259'),
  'geocode': {'latitude': 51.6454943, 'longitude': 0.0838281}},
 {'BusinessName': 'Iceland Frozen Foods Plc',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0289'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'The Broadway Fried Chicken & Pizza',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d028b'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'Freshwaters',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d028d'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'BP Chigwell SF Connect',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d028e'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'T & J Kelly',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0290'),
  'geocode': {'latitude': 51.64754, 'longitude': 0.083998}},
 {'BusinessName': 'Efezade',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0291'),
  'geocode': {'latitude': 51.6475410461426, 'longitude': 0.0839980021119118}},
 {'BusinessName': 'Cafe Bengal',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0298'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'Greggs Bakers',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0299'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'K & P Fresh Foods Limited',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d029a'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'El Kaz Taverna',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d029c'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'Subway',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d029d'),
  'geocode': {'latitude': 51.648257, 'longitude': 0.084118}},
 {'BusinessName': 'Milwards Primary School & Nursery',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d07a6'),
  'geocode': {'latitude': 51.748113, 'longitude': 0.083481}},
 {'BusinessName': 'Ashlyns Organics Ltd At Jerounds Primary School',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d0816'),
  'geocode': {'latitude': 51.756472, 'longitude': 0.083141}},
 {'BusinessName': 'Cork & Skewer / Wings & Thingz',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d08bf'),
  'geocode': {'latitude': 51.7659044, 'longitude': 0.0840072}},
 {'BusinessName': 'Best One',
  'RatingValue': 5,
  '_id': ObjectId('6495bdc28da2c91f777d08c4'),
  'geocode': {'latitude': 51.7659547, 'longitude': 0.0837052}}]

In [24]:
# Convert result to Pandas DataFrame
rating5_df = pd.json_normalize(results2)
rating5_df

,_id,BusinessName,RatingValue,geocode.longitude,geocode.latitude
0,6495bdc28da2c91f777cb38a,Ancient and Brave,5,0.083595,51.011101
1,6495bdc28da2c91f777cd2c2,Texaco Service Station,5,0.084469,51.358485
2,6495bdc28da2c91f777ce14c,Eltham Green School Nursery Ltd,5,0.084577,51.448448
3,6495bdc28da2c91f777ce168,Gill's eells,5,0.084446,51.448828
4,6495bdc28da2c91f777ce1a5,Monkey Puzzle Eltham,5,0.084261,51.450450
...,...,...,...,...,...
79,6495bdc28da2c91f777d029d,Subway,5,0.084118,51.648257
80,6495bdc28da2c91f777d07a6,Milwards Primary School & Nursery,5,0.083481,51.748113
81,6495bdc28da2c91f777d0816,Ashlyns Organics Ltd At Jerounds Primary School,5,0.083141,51.756472
82,6495bdc28da2c91f777d08bf,Cork & Skewer / Wings & Thingz,5,0.084007,51.765904
83,6495bdc28da2c91f777d08c4,Best One,5,0.083705,51.765955

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [25]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match' : {'scores.Hygiene': 0}
              }
# 2. Groups the matches by Local Authority
group_query= {'$group': {'_id': {"local Authority": "$LocalAuthorityName"},
                        'count': { '$sum':1}
                        }
             }
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])
# Print the number of documents in the result
print(f'the number of documents found is {len(list(results))}')

[{'_id': {'local Authority': 'Thanet'}, 'count': 1130},
 {'_id': {'local Authority': 'Greenwich'}, 'count': 882},
 {'_id': {'local Authority': 'Maidstone'}, 'count': 713},
 {'_id': {'local Authority': 'Newham'}, 'count': 711},
 {'_id': {'local Authority': 'Swale'}, 'count': 686},
 {'_id': {'local Authority': 'Chelmsford'}, 'count': 680},
 {'_id': {'local Authority': 'Medway'}, 'count': 672},
 {'_id': {'local Authority': 'Bexley'}, 'count': 607},
 {'_id': {'local Authority': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'local Authority': 'Tendring'}, 'count': 542}]
the number of documents found is 55

In [28]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
hygiene_df.count()

count                  55
_id.local Authority    55
dtype: int64

In [29]:
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

   count _id.local Authority
0   1130              Thanet
1    882           Greenwich
2    713           Maidstone
3    711              Newham
4    686               Swale
5    680          Chelmsford
6    672              Medway
7    607              Bexley
8    586     Southend-On-Sea
9    542            Tendring